
{{#if successMas}}

  <div class="alert alert-success text-center">
    {{successMas}}
  </div>
  
{{/if}}



{{#each products}}
<div class="row">
  {{#each this}}
  <div class="col-sm-4">
    <div class="card">
      <div class="text-center">
        <img src="{{this.imagePath}}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{this.productName}}</h5>
        <p class="card-text">
          Storage Capacity : {{this.information.storageCapacity}} GB <br>
          Number Of SIM : {{this.information.numberOfSIM}} <br>
          Rear Camera Resolution : {{this.information.cameraResolution}} MP <br>
          Display Size (Inch) : {{this.information.displaySize}} Inch
        </p>
        <div>
          <div class="price float-left"> $ {{this.price}}</div>
          {{#if ../../checkuser}}
          <a href="/addTocart/{{this._id}}/{{this.price}}/{{this.productName}}"
            class="btn  btn-success float-right">Buy</a>
          {{else}}
          <button type="button" class="btn  btn-success float-right" data-toggle="modal" data-target="#exampleModalCenter">
            Buy
          </button>
          {{/if}}

        </div>
      </div>
    </div>
  </div>

  {{/each}}
</div>
{{/each}}



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/users/signin" class="btn btn-primary">Sing in</a>
      </div>
    </div>
  </div>
</div>